{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-banner.js' | asset_url }}" defer="defer"></script>
<div class="page-width">
    <div class="row">
        <div class="col-12">
            <div class="banner">
                <div class="banner__text">
                    Somos una tienda de alto impacto con más de <b id="orders-text">0</b> órdenes entregadas y más de <b id="users-text">0</b> clientes a nivel mundial.
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "banner",
    "tag": "section",
    "class": "spaced-section"
}
{% endschema %}