<div class="minicart">
  <h2 class="minicart__title">
    Minicart
  </h2>
  <div id="minicart-products"></div>
  <div id="button-checkout">
    <button 
      type="submit" 
      id="checkout" 
      class="cart__checkout-button button"
      name="checkout"
      form="cart"
    >
      {{ 'sections.cart.checkout' | t }}
    </button>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    }
    ]
}
{% endschema %}