#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#minicart {
    position: fixed;
    display: none;
    width: 400px; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: 5;
    padding: 10px;
}

.minicart__title {
    text-align: center;
}

.minicart__btn-quantity {
    width: 4.5rem;
    flex-shrink: 0;
    font-size: 1.8rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: rgb(var(--color-foreground));
    padding: 0;
}