.product__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.product__btn {
    padding: 10px 20px;
    background: black;
    color: white !important;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.product__variant {
    opacity: 0;
    position: fixed;
    width: 0;
}

.product__variant__label {
    display: inline-block;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 50%;
    height: 25px;
}

/* Slider */

.container-slider {
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    height: 400px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    top: 50%;
    background: #FFF;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: #000;
    color: white;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.mymodal {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.mymodal__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5% auto; /* 15% from the top and centered */
}

.mymodal__header {
    padding: 2px 16px;
    background-color: black;
    color: white;
}
  
.mymodal__body {
    padding: 2px 16px;
}
  
/* The Close Button */
.mymodal__btn-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.mymodal__btn-close:hover, .mymodal__btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.product-bundle__variant {
    opacity: 0;
    position: fixed;
    width: 0;
}

.product-bundle__variant__label {
    display: inline-block;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
}

.product-bundle__variant:checked + .product-bundle__variant__label {
    background-color:#FFF;
    color: black;
}